* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #2e2f42;
  background-color: #fff;
  padding: 16px;
  user-select: none;
}

#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 272px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 8px;
  outline: transparent;

  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.04em;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

#datetime-picker:focus,
#datetime-picker:active {
  border: 1px solid #4e75ff;
}

button {
  border: none;
  border-radius: 8px;
  height: 40px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4e75ff;
  color: #fff;
}

#datetime-picker + button {
  min-width: 75px;
}

#datetime-picker + button + button {
  min-width: 40px;
  color: transparent;
  background-color: transparent;
  pointer-events: none;
}

button:hover {
  background-color: #6c8cff;
}

#datetime-picker ~ button:disabled {
  color: #989898;
  background-color: #cfcfcf;
}

.timer {
  margin-top: 32px;
  display: flex;
  column-gap: 24px;
  width: fit-content;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 55px;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  font-size: 16px;
  text-transform: uppercase;
}
